## Import libraries

In [416]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import dataset

In [417]:
df = pd.read_csv("ftth-en-pays-de-la-loire.csv")

## Learn more about dataset

In [418]:
df.head()

,Code INSEE,code_region,code_departement,Département,siren_epci,EPCI,Logements,Établissements,Locaux raccordables 4eme trimestre 2017,Locaux raccordables 1er trimestre 2018,...,EPCI AMII,Nombre locaux IPE T2 2022 (somme tous OI),Source retenue T2 2022,Meilleure estimation des locaux T2 2022,Zones très denses,Engagements L. 33-13 et AMEL,Intentions privées hors engagement L. 33-13,Commune rurale,OI T2 2022,Locaux raccordables 2eme trimestre 2022
0,44013,52,44,Loire-Atlantique,244400644,CA de la Région Nazairienne et de l'Estuaire (...,"1,302",45,0,0,...,Oui,"1,524",IPE T2 2022 (un IPE),"1,524",0,NaN,0,1,FRTE,"1,404"
1,44020,52,44,Loire-Atlantique,244400404,Nantes Métropole,"8,499",484,"2,658","2,743",...,Oui,"10,434",IPE T2 2022 (un IPE),"10,434",0,NaN,0,0,SFTT,"10,039"
2,44021,52,44,Loire-Atlantique,200071546,CA Pornic Agglo Pays de Retz,"2,381",109,0,0,...,Non,0,INSEE 2018 (IPE moins complet),"2,491",0,0.0,0,1,NaN,0
3,44028,52,44,Loire-Atlantique,244400552,CC du Pays d'Ancenis,"1,732",91,0,0,...,Non,"2,254",IPE T2 2022 (un IPE),"2,252",0,0.0,0,1,FRTE-LOAN,"1,361"
4,44035,52,44,Loire-Atlantique,244400404,Nantes Métropole,"8,608",548,"1,264","1,893",...,Oui,"10,723",IPE T2 2022 (un IPE),"10,723",0,NaN,0,0,FRTE,"9,190"

In [419]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235 entries, 0 to 1234
Data columns (total 40 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Code INSEE                                   1235 non-null   int64
 1   code_region                                  1235 non-null   int64
 2   code_departement                             1235 non-null   int64
 3   Département                                  1235 non-null   object
 4   siren_epci                                   1235 non-null   object
 5   EPCI                                         1234 non-null   object
 6   Logements                                    1235 non-null   object
 7   Établissements                               1235 non-null   object
 8   Locaux raccordables 4eme trimestre 2017      1235 non-null   object
 9   Locaux raccordables 1er trimestre 2018       1235 non-null   object
 10  Locaux raccordables 2eme trimestre 2018      1235 non-null   object
 11  Locaux raccordables 4eme trimestre 2018      1235 non-null   object
 12  Locaux raccordables 3eme trimestre 2018      1235 non-null   object
 13  Locaux raccordables 1er trimestre 2019       1235 non-null   object
 14  Locaux raccordables 2eme trimestre 2019      1235 non-null   object
 15  Locaux raccordables 3eme trimestre 2019      1235 non-null   object
 16  Locaux raccordables 4eme trimestre 2019      1235 non-null   object
 17  Locaux raccordables 1er trimestre 2020       1235 non-null   object
 18  Locaux raccordables 2eme trimestre 2020      1235 non-null   object
 19  Locaux raccordables 3eme trimestre 2020      1235 non-null   object
 20  Locaux raccordables 4eme trimestre 2020      1235 non-null   object
 21  Locaux raccordables 1er trimestre 2021       1235 non-null   object
 22  Locaux raccordables 2eme trimestre 2021      1235 non-null   object
 23  Locaux raccordables 3eme trimestre 2021      1235 non-null   object
 24  Locaux raccordables 4eme trimestre 2021      1235 non-null   object
 25  Région                                       1235 non-null   object
 26  deploiement                                  0 non-null      float64
 27  Locaux raccordables 1er trimestre 2022       1235 non-null   object
 28  commune                                      1235 non-null   object
 29  Commune                                      1235 non-null   object
 30  EPCI AMII                                    1235 non-null   object
 31  Nombre locaux IPE T2 2022 (somme tous OI)    1235 non-null   object
 32  Source retenue T2 2022                       1235 non-null   object
 33  Meilleure estimation des locaux T2 2022      1235 non-null   object
 34  Zones très denses                            1235 non-null   int64
 35  Engagements L. 33-13 et AMEL                 1121 non-null   float64
 36  Intentions privées hors engagement L. 33-13  1235 non-null   int64
 37  Commune rurale                               1235 non-null   int64
 38  OI T2 2022                                   1174 non-null   object
 39  Locaux raccordables 2eme trimestre 2022      1235 non-null   object
dtypes: float64(2), int64(6), object(32)
memory usage: 386.1+ KB

## Clean dataset

In [420]:
# rename columns
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.replace('É', 'E')
df.columns = df.columns.str.replace('é', 'e')
df.columns = df.columns.str.replace('Locaux_raccordables_1er_trimestre_', 'raccordables_trim_1_')
df.columns = df.columns.str.replace('Locaux_raccordables_2eme_trimestre_', 'raccordables_trim_2_')
df.columns = df.columns.str.replace('Locaux_raccordables_3eme_trimestre_', 'raccordables_trim_3_')
df.columns = df.columns.str.replace('Locaux_raccordables_4eme_trimestre_', 'raccordables_trim_4_')

In [421]:
# define column types
# df.loc[:, df.columns.str.startswith("raccordables_trim_")].replace({',' : ''}, inplace=True)
# df['Logements'].replace({'1,302': '3000'}, inplace=True)
# df['raccordables_trim_4_2017'] = df['raccordables_trim_4_2017'].str.replace(',', '')
# df.astype({'raccordables_trim_4_2017': 'int64'}).dtypes
df = df.replace(',', '', regex=True)

cols = df.loc[:, df.columns.str.startswith("raccordables_trim_")].columns
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
df['Logements'] = df['Logements'].apply(pd.to_numeric, errors='coerce')
df['Etablissements'] = df['Etablissements'].apply(pd.to_numeric, errors='coerce')
df['Nombre_locaux_IPE_T2_2022_(somme_tous_OI)'] = df['Nombre_locaux_IPE_T2_2022_(somme_tous_OI)'].apply(pd.to_numeric, errors='coerce')
df['Meilleure_estimation_des_locaux_T2_2022_'] = df['Meilleure_estimation_des_locaux_T2_2022_'].apply(pd.to_numeric, errors='coerce')

print(df['raccordables_trim_4_2017'].max())
# print(df['raccordables_trim_4_2017'].min())

# df.head()
df.info()

92617
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235 entries, 0 to 1234
Data columns (total 40 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Code_INSEE                                   1235 non-null   int64
 1   code_region                                  1235 non-null   int64
 2   code_departement                             1235 non-null   int64
 3   Departement                                  1235 non-null   object
 4   siren_epci                                   1235 non-null   object
 5   EPCI                                         1234 non-null   object
 6   Logements                                    1235 non-null   object
 7   Etablissements                               1235 non-null   object
 8   raccordables_trim_4_2017                     1235 non-null   int64
 9   raccordables_trim_1_2018                     1235 non-null   int64
 10  raccordables_trim_2_2018                     1235 non-null   int64
 11  raccordables_trim_4_2018                     1235 non-null   int64
 12  raccordables_trim_3_2018                     1235 non-null   int64
 13  raccordables_trim_1_2019                     1235 non-null   int64
 14  raccordables_trim_2_2019                     1235 non-null   int64
 15  raccordables_trim_3_2019                     1235 non-null   int64
 16  raccordables_trim_4_2019                     1235 non-null   int64
 17  raccordables_trim_1_2020                     1235 non-null   int64
 18  raccordables_trim_2_2020                     1235 non-null   int64
 19  raccordables_trim_3_2020                     1235 non-null   int64
 20  raccordables_trim_4_2020                     1235 non-null   int64
 21  raccordables_trim_1_2021                     1235 non-null   int64
 22  raccordables_trim_2_2021                     1235 non-null   int64
 23  raccordables_trim_3_2021                     1235 non-null   int64
 24  raccordables_trim_4_2021                     1235 non-null   int64
 25  Region                                       1235 non-null   object
 26  deploiement                                  0 non-null      float64
 27  raccordables_trim_1_2022                     1235 non-null   int64
 28  commune                                      1235 non-null   object
 29  Commune                                      1235 non-null   object
 30  EPCI_AMII                                    1235 non-null   object
 31  Nombre_locaux_IPE_T2_2022_(somme_tous_OI)    1235 non-null   object
 32  Source_retenue_T2_2022_                      1235 non-null   object
 33  Meilleure_estimation_des_locaux_T2_2022_     1235 non-null   object
 34  Zones_très_denses                            1235 non-null   int64
 35  Engagements_L._33-13_et_AMEL                 1121 non-null   float64
 36  Intentions_privees_hors_engagement_L._33-13  1235 non-null   int64
 37  Commune_rurale                               1235 non-null   int64
 38  OI_T2_2022                                   1174 non-null   object
 39  raccordables_trim_2_2022                     1235 non-null   int64
dtypes: float64(2), int64(25), object(13)
memory usage: 386.1+ KB